LOGGING_LEVEL=INFO

PSQL_DB_NAME=movies_database
PSQL_DB_USER=app
PSQL_DB_PWD=123qwe
PSQL_DB_HOST=db
PSQL_DB_PORT=5432

PSQL_SELECT_LIMIT=100

ES_HOST=elasticsearch
ES_PORT=9200
ES_FILM_WORK_INDEX=movies

MAX_RETRY_NUMBER=100
UPDATE_DELTA_TIME=60
