SERVICE_URL=http://fastapi:8000
ELASTIC_URL=http://elasticsearch:9200
REDIS_HOST=cache
REDIS_PORT=6379
STATIC_ES_MOVIES_INDEX_PATH=/app/static/create_movies_index.json
STATIC_ES_PERSONS_INDEX_PATH=/app/static/create_persons_index.json
STATIC_ES_GENRES_INDEX_PATH=/app/static/create_genres_index.json
